@model SurveyResultViewModel

@{
    ViewData["Title"] = "Results";
}

<div class="marsh-container">
    <img id="marsh" src="~/images/marsh-billings-rockefeller.jpg"/>
    <div class="marsh-centered">
        <h1 id="top-rated-parks">Top Rated Parks</h1>
    </div>
</div>
<hr />

@foreach (KeyValuePair<string, int> kvp in Model.Results)
{
    @if (kvp.Value > 0)
    {
        <div class="flex-container horizontal">
            <div>
                <img id="survey-result-img" src="~/images/@(kvp.Key).jpg" />
            </div>
            <div class="flex-container vertical">
                <p><strong>Number of Votes:</strong> @kvp.Value</p>
                <p id="survey-result-name">@(Model.Parks.FirstOrDefault(prop => prop.ParkCode == kvp.Key).ParkName)</p>
                <p>@(Model.Parks.FirstOrDefault(p => p.ParkCode == kvp.Key).Description)</p>
            </div>
        </div>
    }
}