/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*** Site Banner ***/
.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

#menu-bar {
    height: 5rem;
    background-color: #23c112;
}

#banner-logo {
    height: 7rem;
}

#white-font {
    color: #fff;
}

/*** Index View ***/
#all-park-grid {
    display: grid;
    grid-template-columns: 50rem 50rem;
    grid-gap: 4rem;
    padding-top: 4rem;
}

#index-park-image {
    height: 33rem;
    width: 50rem;
}

#index-park-name {
    color: #23c112;
}

/*** Detail View ***/
#detail-image {
    height: 40rem;
    width: 100%;
    padding-bottom: 2rem;
}

#detail-quote {
    padding: 4rem;
    color: #6e7477;
    font-style: italic;
    text-align: center;
}


#weather-grid {
    display: grid;
    grid-template-columns: 22rem 15rem 15rem 15rem 15rem;
}

#weather-grid > img {
    height: 15rem;
}

#weather-advisory {
    color: #f76f1b;
}
